doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Prova Fácil

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        link(rel='preconnect' ,href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark
            .container.px-5
                a.navbar-brand(href='/index.html') Prova Fácil
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link( href='/index.html') Home
                        li.nav-item
                            a.nav-link(href='/onde-estudar.html') Onde estudar
                        li.nav-item
                            a.nav-link(href='/acervo.html') Acervo

        .container.px-4.px-lg-5

            div.essay-header
             h2.font-weight-light.my-4 Exemplos de redações nota mil

            section.essay-wrapper
                article.essay-card
                    .header.mb-3
                        h2.card-title Daiane Souza
                        i.text-center 20 anos, Limoeiro (PB)
                    .essay
                        p.mb-4 A obra modernista "Vidas Secas", produzida por Graciliano Ramos, retrata a história de vulnerabilidade socioeconômica enfrentada por Fabiano e seus dois filhos, os quais eram chamados por seu pai de filho mais novo e mais velho, não possuindo seus nomes registrados durante o desenvolvimento do enredo. Ao sair do campo literário e fazer uma análise da atual conjuntura brasileira, nota-se ainda a invisibilidade associada ao acesso das pessoas ao registro civil, visto que tal problema é negligenciado por diversos segmentos sociais e políticos. A partir desse contexto, é fundamental entender o que motiva essa situação irregular de documentação e o principal impacto para a sociedade, a fim de que o acesso à Cidadania seja eficiente.
                        p.mb-4 Diante desse cenário, percebe-se que a invisibilidade acerca da questão do registro civil é motivada pela falta de uma política pública eficaz que regularize essa problemática. Isso ocorre, principalmente, porque, como já mencionado nos estudos da antropóloga Lilia Schwarcz, há a prática de uma política de eufemismos no Brasil, ou seja, determinados problemas tendem a ser suavizados e não recebem a visibilidade necessária. Sob essa ótica, é perceptível que o reduzido debate sobre a importância da certidão de nascimento e de outros documentos, bem como a baixa presença de estratégias para facilitar o acesso a pessoas de baixa renda dificultam a mudança dessa situação preocupante. Desse modo, enquanto a desinformação e a assistência precária se mantiverem, a procura pelo registro de nascimento será reduzida.
                        p.mb-4 Outrossim, convém pontuar que o principal efeito negativo disso é o afastamento desses grupos não registrados dos espaços públicos, em especial da escola e do mercado de trabalho. Tal situação é discutida no livro "A cidadania no Brasil: o longo caminho", do historiador José Murilo de Carvalho, ao sustentar que a desigualdade social impede a construção de uma sociedade mais justa e equitativa. Ao seguir essa linha de pensamento, à medida que o indivíduo não tem seus documentos regularizados, a possibilidade da inclusão no meio escolar e no laboral diminui, uma vez que tais papéis são pré-requesitos para se matricular e ser, posteriormente, contratado por uma empresa. A título de exemplo, o Brasil é o 9º país mais desigual do mundo, conforme o IBGE. Dessa maneira, observa-se como esse problema promove vulnerabilidade.
                        p.mb-4 Portanto, a invisibilidade associada ao registro civil no Brasil precisa ser revertida. Para isso, é fulcral que o Poder Executivo Federal, mais especificamente o Ministério da Cidadania, estimule ações estratégicas para ampliar o número de pessoas registradas oficialmente, principalmente nas comunidades pobres. Essa iniciativa ocorrerá por meio da implantação de um "Projeto Nacional de Incentivo à Formalização da Documentação Pessoal", o qual irá contar tanto com o aumento do envio de assistentes sociais para verificar a situação do registro nas residências. Isso será feito a fim de conter o impacto social desse problema e aumentar a cidadania. Afinal, casos como o do livro "Vidas Secas" precisam ser reduzidos.

                article.essay-card
                    .header.mb-3
                        h2.card-title Emanuelle Severino
                        i.text-center 20 anos, Belo Horizonte (MG)
                    .essay
                        p.mb-4 A cidadania, no contexto relativo à Grécia Antiga, era restrita aos homens aristocratas, maiores de vinte e um anos, que participassem do sistema político de democracia direta do período. Diferentemente dessa conjuntura, a Carta Magna do Estado brasileiro, vigente na contemporaneidade, concede o título de cidadão do Brasil aos indivíduos nascidos em território nacional, de modo que a oficialização dessa condição está atrelada ao registro formal de nascimento. Nesse contexto, convém apresentar que, em virtude da ausência dessa documentação, diversas pessoas passam a enfrentar um quadro de invisibilidade frente à estrutura estatal e, com isso, são privadas da verdadeira cidadania no país.
                        p.mb-4 Acerca dessa lógica, é necessário pontuar a dificuldade da parcela da população brasileira, em situação de vulnerabilidade socioeconômica, no acesso ao procedimento de registro civil. Sob esse viés, destaca-se que, segundo relatório de 2019 do Programa das Nações Unidas para o Desenvolvimento, o Brasil é o último país mais desigual do mundo, condição que implica a existência de indivíduos tupiniquins detentores de rendas extremamente baixas, as quais, muitas vezes, não são suficientes para fornecer condições de vida dignas a essas pessoas. A essa linha de raciocínio, os limitantes recursos financeiros podem impossibilitar o deslocamento desses indivíduos até os cartórios, devido aos custos com transporte e, por conseguinte, impedir a realização do registro. Assim, a acentuada desigualdade social da nação dificulta a promoção da documentação pessoal, especialmente, para as classes sociais menos abastadas.
                        p.mb-4 Além disso, é importante relacionar a falta de documentos de nascimento com o sentimento de invisibilidade desenvolvido pelos indivíduos sem registro, tendo em vista a privação dos direitos sociais, civis e políticos desencadeada pela problemática pela problemática discutida. Sob essa óptica, somente a partir da certidão de nascimento pode-se emitir as carteiras de identidade e de trabalho, bem como o título de eleitor e o cadastro de pessoa física. Nesse sentido, o acesso aos programas do governo, a exemplo do auxílio emergencial - assistência financeira concedida durante a pandemia da Covid-19 -, à seguridade social e ao exercício do voto dependem, diretamente, da existência do registro civil. Portanto, a ausência da documentação formal torna parte da população invisível socialmente, já que essas pessoas não podem beneficiar-se dos serviços e das garantias do Estado Democrático de Direito brasileiro.
                        p.mb-4 Diante do exposto, conclui-se que o registro civil é um aspecto intrínseco à cidadania no Brasil. Por isso, o Governo Federal deverá propiciar a acessibilidade das populações mais carentes, que sofrem com a falta de acesso à documentação, a esse tipo de serviço, por meio da articulação de unidades móveis para os cartórios do país. No que tange a esse aspecto, os veículos adaptados transportarão os funcionários dos órgãos de registros até as áreas de menor renda "per capita" de seus respectivos municípios, um dia por semana, com o intuito de realizar o procedimento formal de emissão dos documentos de nascimento dos grupos sociais menos favorecidos economicamente. Desse modo, um maior número de brasileiros acessará, efetivamente, a condição de cidadão.

                article.essay-card
                    .header.mb-3
                        h2.card-title Fernanda Quaresma
                        i.text-center 20 anos, Iguaracy (PE)
                    .essay
                        p.mb-4 Em “Vidas secas”, obra literária do modernista Graciliano Ramos, Fabiano e sua família vivem uma situação degradante marcada pela miséria. Na trama, os filhos do protagonista não recebem nomes, sendo chamados apenas como o “mais velho” e o “mais novo”, recurso usado pelo autor para evidenciar a desumanização do indivíduo. Ao sair da ficção, sem desconsiderar o contexto histórico da obra, nota-se que a problemática apresentada ainda percorre a atualidade: a não garantia de cidadania pela invisibilidade da falta de registro civil. A partir desse contexto, não se pode hesitar – é imprescindível compreender os impactos gerados pela falta de identificação oficial da população.
                        p.mb-4 Com efeito, é nítido que o deficitário registro civil repercute, sem dúvida, na persistente falta de pertencimento como cidadão brasileiro. Isso acontece, porque, como já estudado pelo historiador José Murilo de Carvalho, para que haja uma cidadania completa no Brasil é necessária a coexistência dos direitos sociais, políticos e civis. Sob essa ótica, percebe-se que, quando o pilar civil não é garantido – em outras palavras, a não efetivação do direito devido à falta do registro em cartório –, não é possível fazer com que a cidadania seja alcançada na sociedade. Dessa forma, da mesma maneira que o “mais novo” e o “mais velho” de Graciliano Ramos, quase 3 milhões de brasileiros continuam por ser invisibilizados: sem nome oficial, sem reconhecimento pelo Estado e, por fim, sem a dignidade de um cidadão.
                        p.mb-4 Além disso, a falta do sentimento de cidadania na população não registrada reflete, também, na manutenção de uma sociedade historicamente excludente. Tal questão ocorre, pois, de acordo com a análise da antropóloga brasileira Lilia Schwarcz, desde a Independência do Brasil, não há a formação de um ideal de coletividade – ou seja, de uma “Nação” ao invés de, meramente, um “Estado”. Com isso, o caráter de desigualdade social e exclusão do diferente se mantém, sobretudo, no que diz respeito às pessoas que não tiveram acesso ao registro oficial, as quais, frequentemente, são obrigadas a lidar com situações humilhantes por parte do restante da sociedade: das mais diversas discriminações até o fato de não poderem ter qualquer outro documento se, antes, não tiverem sua identificação oficial.
                        p.mb-4 Portanto, ao entender que a falta de cidadania gerada pela invisibilidade do não registro está diretamente ligada à exclusão social, é tempo de combater esse grave problema. Assim, cabe ao Poder Executivo Federal, mais especificamente o Ministério da Mulher, da Família e dos Direitos Humanos, ampliar o acesso aos cartórios de registro civil. Tal ação deverá ocorrer por meio da implantação de um Projeto Nacional de Incentivo à Identidade Civil, o qual irá articular, junto aos gestores dos municípios brasileiros, campanhas, divulgadas pela mídia socialmente engajada, que expliquem sobre a importância do registro oficial para garantia da cidadania, além de instruções para realizar o processo, a fim de mitigar as desigualdades geradas pela falta dessa documentação. Afinal, assim como os meninos em “Vidas secas”, toda a população merece ter a garantia e o reconhecimento do seu nome e identidade.

                article.essay-card
                    .header.mb-3
                        h2.card-title Sarah Fernandes Paulista Rosa
                        i.text-center 21 anos, São José dos Campos (SP)
                    .essay
                        p.mb-4 O clássico da literatura infantil inglesa "Oliver Twist" aborda as vivências daqueles marginalizados durante a Era Vitoriana e a forma como eram considerados invisíveis por não pertencerem à lógica social. Essa percepção sobre uma parcela considerável da população dialoga, analogamente, com a realidade atual de inúmeros brasileiros que não possuem acesso aos seus direitos civis por não apresentarem os registros primários necessários à inserção omo cidadãos no próprio país. Dessa forma, torna-se notório que a garantia aos principais instrumentos de validação pessoal enfraquece problemáticas estruturais da totalidade tupiniquim, pois a invisibilidade não só fortalece a marginalização, como também mantém um ciclo de violações.
                        p.mb-4 É nesse contexto que a máxima do Empirismo Radical "Ser é ser percebido" reforça a urgência em ser considerado um cidadão, uma vez que a existência de um indivíduo diante do Estado ocorre substancialmente a partir do registro da certidão de nascimento, ou seja, esse é o meio de ser percebido como um agente social pela estrutura do país. Essa estrutura, segundo o antropólogo belga Claudé Levi-Strauss, representa o conjunto de padrões sociais nos quais a relações interpessoais estão ancoradas e, desse modo, determina o papel do sujeito na comunidade. Como o registro civil, para obter direitos no Brasil, é estrutural à lógica contemporânea, a individualidade só se faz presente por meio dos documentos oficiais, o que promove, portanto, a invisibilidade daqueles que não os possuem.
                        p.mb-4 Além disso, tal apagamento identitário mantém o agravamento da problemática presente entre as gerações de forma cíclica, pois pais invisíveis geram filhos invisíveis ao país. Como é preciso ser registrado para ter acesso aos princípios básicos para a manutenção da vida, os quais, de acordo com a consolidação dos direitos civis durante o iluminismo francês, são a propriedade, a liberdade e todos os aspectos que envolvem a vida, como educação e saúde, a garantia de acesso à cidadania representa um caminho para a valorização individual. Nesse cenário, a supressão da invisibilidade e, consequentemente, a percepção pessoal pea totalidade brasileira marcam o início do avanço social no país e afasta, por fim, da realidade analisada em "Oliver Twist", na qual as pessoas não eram reconhecidas como seres humanos por não serem percebidas.
                        p.mb-4 Há, portanto, a urgência de findar essa problemática notória na estrutura do Brasil. Cabe, então, ao ministério da Família e dos Direitos Humanos, responsável pelo encabeçamento da manutenção da seguridade social, promover, em parceria com prefeituras e subprefeituras, um aumento da eficácia de registro civil nos municípios. Essa ação irá ocorrer por meio de campanhas, as quais promoverão a conscientização sobre o acesso aos direitos civis, e documento da contratação de funcionários dos fóruns para agilizar o registro, principalmente, das certidões de nascimento. Dessa maneira, haverá a diminuição da marginalização de uma parcela populacional, seja ativamente pela garantia de acesso à cidadania, seja pelo rompimento do ciclo de invisibilidade.

                article.essay-card
                    .header.mb-3
                        h2.card-title Iasmin Ferreira
                        i.text-center 21 anos, Niterói (RJ)
                    .essay
                        p.mb-4 O conceito "Cidadanias Mutiladas", do geógrafo brasileiro Milton Santos, explicita que a democracia só é efetiva quando atinge a totalidade do corpo social. A partir dessa perspectiva, é possível observar que a realidade contemporânea brasileira se distancia desse ideal democrático, uma vez que inúmeros indivíduos ainda permanecem em uma situação de invisibilidade acarretada pela ausência do registro civil - o qual atua como uma ferramenta de garantia de acesso à cidadania no país. Desse modo, é essencial analisar os principais propulsores desse contexto hostil: o descaso governamental e a falha educacional.
                        p.mb-4 Sob esse viés analítico, é importante destacar, a princípio, que a inoperância é um fator preponderante para a ocorrência dessa problemática. Esse cenário decorre do fato de que, assim como pontuou o economista norte-americano Murray Rothbard, uma parcela dos representantes governamentais, ao se orientar por um viés individualista e visar um retorno imediato de capital político, negligencia a conservação de direitos sociais indispensáveis, como a garantia de registro civil. Em decorrência dessa indiligência do poder público, cria-se um ambiente propício para a precarização infraestrutural de locais especializados no aporte de documentação pessoal - materializada na carência de cartórios, sobretudo, em regiões mais afastadas dos centros urbanos. Logo, é notório que a omissão do Estado perpetua o deficitário acesso à cidadania.
                        p.mb-4 Além disso, é válido ressaltar que a lacuna no sistema de educação potencializa essa conjuntura. Isso acontece porque, desde o século XX, com a implementação de um formato tradicionalista de ensino pelo ex-presidente Vargas, cristalizou-se um modelo educacional que negligencia o aprendizado de temas transversais, a exemplo de concepções básicas da cidadania. Nessa perspectiva, com o desconhecimento de parte da população - oriundo da escassez instrutiva - sobre a relevância da garantia de direitos, há uma invisibilização da situação sofrida pelas pessoas que não possuem documentos basilares, como a certidão de nascimento. Como consequência disso, mantém-se o quadro de ausência de ações sociais efetivas no que tange à reversão desse contexto, fragilizando, com isso, a isonomia presente nas relações democráticas. Dessa forma, é imprescindível combater a falha do processo educacional, visto que marginaliza uma classe da sociedade.
                        p.mb-4 É evidente, portanto, a necessidade de medidas que solucionem os desafios impostos à garantia de acesso à cidadania no Brasil. Por isso, o Ministério Público - órgão responsável pela defesa dos interesses sociais - deve, por meio da fiscalização da aplicação dos poderes estatais, pressionar o Estado no que se refere ao aporte de infraestrutura ao setor que oferta o registro civil, a fim de que a retirada desse documento seja ampliada para as diversas regiões do país. Ademais, as instituições escolares públicas e privadas devem, por intermédio de palestras, instruir os alunos acerca da importância da documentação pessoal, com o objetivo de minimizar a invisibilização desse tema, e, com isso, estimular atitudes combativas à conjuntura de indivíduos sem registro. Assim, o ideal do geógrafo Milton Santos será, de fato, uma realidade no país.

        // Footer
        footer.py-4.bg-dark#footer
            .container.px-4.px-lg-5
                p.m-0.text-center.text-white Copyright &copy; Prova Fácil 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
